.card {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 400px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin: 10px;
  overflow: hidden;
  color: #000;
}

.card.active {
  filter: none;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.card:not(.active) {
  filter: blur(0.5px);
  cursor: pointer;
  /* background-color: #060918; */
  /* color: white; */
}

.card:not(.active) div {
  pointer-events: none;
}

.slider-container .slick-track {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
